/* ==========================================================================
    COLOR STYLE
============================================================================= */

.main-menu ul li.active > a {
    background: #4eb25c;
}
.sub-menu li.active,
.children li.active {
    background: #4eb25c;
}
.main-menu ul.l-inline > li > a:hover {
    background: #4eb25c !important;
}
.sub-menu li:hover,
.children li:hover {
    background: #4eb25c !important;
}
.add-to-cart {
    background: #4eb25c;
}
.ribbon {
    background: #4eb25c;
}
.beta-tags a:hover {
    background: #4eb25c;
}
#price-filter-range .ui-slider-handle {
    background: #4eb25c;
}
.beta-btn.primary:hover {
    background: #4eb25c;
}
.aside .widget-title {
    border-left: 3px solid #4eb25c;
}

.work-item-actions a:hover {
    background: #4eb25c;
}
.icon-box-a i {
    color: #4eb25c;
}
.icon-circle {
    border: 1px solid #4eb25c;
    color: #4eb25c;
}
.icon-box-b i {
    color: #4eb25c;
}
.beta-circle {
    background: #4eb25c;
}
.beta-filter ul#filters li.active a {
    border: 1px solid #4eb25c;
}
.panel-default > .panel-heading.beta-active-tab {
    background: #4eb25c;
}
.panel-default > .panel-heading .panel-title a:hover i {
    color: #4eb25c;
}
.beta-highlight {
    background-color: #4eb25c;
}
.bg-color4 {
    background-color: #4eb25c;
}

.beta-progress .progress-bar {
    background-color: #4eb25c;
}
.ratio-1x1 i {
    color: #4eb25c;
}
.icon-box-f .icon-box-icon i {
    color: #4eb25c;
}
.beta-counter i {
    color: #4eb25c;
}
.icon-box-c i {
    color: #4eb25c;
}
.bg-color10 {
    background-color: #4eb25c;
}
.panel-default > .panel-heading .panel-title a:hover .accordion-circle {
    border: 1px solid #4eb25c;
}
.icon-box-g:hover .icon-box-icon {
    color: #4eb25c;
}
.icon-box-g:hover .icon-box-caption {
    background-color: #4eb25c;
}
.icon-box-g:hover .indicator-top-small {
    border-color: transparent transparent #4eb25c transparent;
}
.history-navigation a.active {
    background-color: #4eb25c;
}
.history-navigation a {
    border: 2px solid #4eb25c;
}
.inner-header {
    background-color: #4eb25c;
}
.beta-callout-box-a i {
    color: #4eb25c;
}
.icon-box-d i {
    color: #4eb25c;
}
.icon-box-d:hover i {
    color: #f90;
}
.uc-header {
    background-color: #4eb25c;
}
.beta-subscribers button {
    background-color: #4eb25c;
}
.beta-blog-date {
    background-color: #4eb25c;
}
.mejs-audio .mejs-controls .mejs-time-current,
.mejs-audio .mejs-controls .mejs-horizontal-volume-current {
    background-color: #4eb25c !important;
}
.beta-calendar .ui-datepicker-calendar a:hover {
    background-color: #4eb25c !important;
}
.beta-message {
    background-color: #4eb25c;
}
.beta-pricing span.beta-price-button a {
    background-color: #4eb25c;
}
table.shop_table tfoot td .beta-btn,
table.shop_table tfoot th .beta-btn {
    background-color: #4eb25c;
}
table.shop_table tfoot td .beta-btn:hover,
table.shop_table tfoot th .beta-btn:hover {
    background-color: #f90;
}

.beta-promobox-b {
    background-color: #4eb25c;
}

.parent-active > a {
    background: #4eb25c;
    color: white;
}
.sub-menu li.parent-active,
.children li.parent-active {
    background: #4eb25c;
}
.sub-menu li.parent-active > a,
.children li.parent-active > a {
    color: white !important;
}
